<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>urlDomainHttp</key>
	<string>http://sbpdev.au-syd.mybluemix.net/</string>
	<key>urlDomainHttps</key>
	<string>https://sbpdev.au-syd.mybluemix.net/</string>
	<key>contexroot</key>
	<string>SBPWebService/</string>
	<key>versionServer</key>
	<string>v130120/</string>
	<key>OneSignal_appID</key>
	<string>a1690682-812c-4276-8a6c-85fe4e6f5e76</string>
	<key>AppGUID</key>
	<string>3c5e9860-be2b-4276-a53b-b12f0d3db6bb</string>
	<key>clientSecret</key>
	<string>f1b7da23-fe5e-40d4-99b5-ca39eaae8b35</string>
	<key>appID_Prd</key>
	<string>615eda0f-4c69-496d-b449-2d23ccb2c2fa</string>
	<key>appID_Dev</key>
	<string>a1690682-812c-4276-8a6c-85fe4e6f5e76</string>
</dict>
</plist>
